<div class="soldout">
    {% form 'customer' %}
      <div class="sold-out-contact module newsletter-form">
        <div class="sold-out-container newsletter-form-container">

          {% if section.settings.sold_out_title != blank or section.settings.subheading != blank %}
            <div class="">
              {% if section.settings.sold_out_title != blank %}
                <h3 class="module-title">
                  {{ section.settings.sold_out_title | escape }}
                </h3>
              {% endif %}
              {% if section.settings.sold_out_text != blank %}
                <div class="sold-out-sub module-subtitle">
                  {{ section.settings.sold_out_text }}
                </div>
              {% endif %}
            </div>
          {% endif %}

          <div class="module-body">
            <div class="newsletter-form-container">
              {% if form.posted_successfully? %}
                <p class="module-subtitle" style="font-size: 35px;">
                  Registration Complete!
                </p>
              {% else %}
                {% if form.errors %}
                  <div class="newsletter-form-message">
                    {{ form.errors | default_errors }}
                  </div>
                {% endif %}

                <input type="hidden" id="contact_tags" name="contact[tags]" value="registered_product">

                <div class="newsletter-field-wrapper">
                  
                  <div class="input-wrapper">
                    <label class="input-label" for="contact_first_name">First Name</label>
                    <input
                      class="icon-arrow-right"
                      name="contact[first_name]"
                      type="text"
                      placeholder="First Name"
                      aria-label="Order Number">
                  </div>
                  
                  <div class="input-wrapper">
                    <label class="input-label" for="contact_last_name">Last Name</label>
                    <input
                      class="icon-arrow-right"
                      name="contact[last_name]"
                      type="text"
                      placeholder="Last Name"
                      aria-label="Order Number">
                  </div>
                  
                  <div class="input-wrapper">
                    <label class="input-label" for="contact_note_order_number">Order Number <span class="rocky-icon-inline product-info-link info" title="The Order Number can be found on your order confirmation email"></span></label>
                    <input
                      class="icon-arrow-right"
                      name="contact[note][order_number]"
                      type="text"
                      placeholder="Order Number"
                      aria-label="Order Number">
                  </div>

                  <div class="input-wrapper">
                    <label class="input-label" for="contact_email">Email Address</label>
                    <input
                      class="icon-arrow-right"
                      name="contact[email]"
                      type="email"
                      placeholder="{{ 'general.general.email_placeholder' | t }}"
                      aria-label="{{ 'general.general.email_placeholder' | t }}">
                  </div>
                  
                  
                 <div class="input-wrapper">
                    <input type="hidden" name="contact[accepts_marketing]" value="false" />
                    <input
                      class="icon-arrow-right"
                      name="contact[accepts_marketing]"
                      type="checkbox"
                      value="false"
                    >
                   <label class="input-label" for="accepts_marketing">Accept occasional emails from Rocky Talkie</label>
                  </div>

                  
                  <div class="input-wrapper cta-container">
                    <input
                      class="button"
                      name="subscribe"
                      type="submit"
                      value="Register"
                      aria-label="Register" />
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    {% endform %}
</div>
